* {
    border: 1px solid blue;
}

html {
    font-size: 16px;
}

.navGroup {
    display: flex;
    justify-content: space-around;
}

.navGroup li {
    display: inline-flex;
    padding: 10px 25px;
}

.cardDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    height: 300px;
    width: 300px;
    border: 2px dashed green;
}